<%= form_for @bus do |f| %>
  <p>
    <%= f.label :route %>
    <%= f.text_field :route %>
  </p>
  <p>
    <%= f.label :direction %>
    <%= f.text_field :direction %>
  </p>
  <p>
    <%= f.submit 'Add bus' %>
  </p>
<% end %>

<% @buses.each do |bus| %>
<ul>
  <li>
    <%= link_to "#{bus.route}", bus_path(bus) %>, <%= bus.direction %>
  </li>
</ul>
<% end %>